#body {
    width: 800px;
}

#top{color:#000000;height:130px;background:#ffffff url(headerbg.png) repeat-x 0 top;position:relative;}
.top{padding-top:20px;}

#stage {
  margin-left:20px;
  min-height: 300px;
}

/* ************************************************************************ */
/* footer css ripped shamelessly from plone.org */	
#footer-wrapper {
    height: 17em;
    width: 100%;
    margin-left:20px;
}
#footer-gradient {
    background: top left url(//plone.org/images/sprite-ploneorg.png) repeat-x;
    height: 17px;
}
#push {
    height: 16em;
}
#footer {
    height: 260px;
    color: White;
    font-family: "Lucida Grande", Verdana, FreeSans, sans-serif;
    margin: 0 auto;
}
#footer p {
    font-size: 0.7em;
}
#footer p a {
    color: White;
}
#footer p a:hover {
    color: #cc3300;
    background-color: #ff00ff;
}
#footer-logo {
    float: left;
    background-image: url(/static/logo_white_44.png);
    width: 44px;
    height: 44px;
    margin: 0 1em 0 0.5em;
}
#sitemap {
    width: 100%;
    clear: both;
    padding-top: 1em;
}
#sitemap dl {
    font-family: "Lucida Grande", Verdana, FreeSans, sans-serif;
    color: White;
    display: inline-block;
    vertical-align: top;
    width: 28%;
}
#sitemap dl a {
    font-size: 0.7em;
    color: White;
    display: block;
    padding: 0.25em 6px;
}
#sitemap dl a:hover {
    color: Black;
    background-color: #FF6600;
}
#sitemap dl dt a {
    font-size: 0.75em;
}
